target/
!.mvn/wrapper/maven-wrapper.jar
log/
logs/
*.log

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/

# Eclipse
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache/
bin/

# Mac
.DS_Store

# Windows
Thumbs.db
